
/* external css for form */

.image img{
    height: 700px;
  }
 .input-field{
    background-color: rgba(38, 12, 12, 0.2);
  padding: 6px;
  width: 50%;
  }
  #calculate-btn{
  background-color: rgba(10, 74, 236, 0.877);
}
  #save-btn{
    background-color: rgba(10, 74, 236, 0.877);
    padding: 5px;
 
}

.save-input{
    width: 60px;
    background-color: rgba(38, 12, 12, 0.2);
}